.avatar {
	width: 10.5rem;
	height: 10.5rem;
	border-radius: 50%;
	background: $bg-white;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		position: relative;
		top: 20%;
		width: 200%;
		height: 235%;
		object-fit: cover;
	}
}
