.avatar {
	width: 10.5rem;
	height: 10.5rem;
	border: 2px solid white;
	border-radius: 50%;
	background: $bg-white;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
